<nav class="navbar navbar-expand-sm navbar-light bg-light sticky-top">
  <div class="container">
    <a class="navbar-brand" routerLink="/">
      <img src="/assets/icon/icono.png" width="46" height="30" alt=""> Libro de visitas
    </a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#navId" aria-controls="navId"
        aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navId">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/visitas" routerLinkActive="active">Libro Visitas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contacto" routerLinkActive="active">Contacto</a>
        </li>
      </ul>
    </div>
  </div>
</nav>